/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f8ff;
  color: #333;
}

header {
  background-color: #0e1e3a;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 500px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

.user-info {
  font-size: 15px;
  background-color: #1f3b5e;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  position: relative; /* To allow the dropdown to position properly */
  cursor: pointer;
}

.user-info img {
  height: 23px;
  margin-right: 10px;
}

.user-info.active .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none; /* Hidden by default */
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #0e1e3a;
  border: 1px solid #007bff;
  border-radius: 4px;
  min-width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-menu a:hover {
  background-color: #1f3b5e;
  border-left: 4px solid #007bff;
}

/* About Section */
.about {
  background-color: white;
  padding: 50px;
  text-align: left;
  margin: auto;
  position: relative;
}

.about h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #0e1e3a;
}

.about p {
  font-size: 18px;
  color: #666;
}

/* System Architecture Section */
.architecture {
  background-color: #e9f6ff;
  padding: 50px;
  margin: auto;
  border-radius: 10px;
}

.architecture h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
}

.architecture-content {
  display: contents;
  justify-content: space-between;
  align-items: center;
}

.architecture img {
  max-width: 45%;
  height: auto;
}

.architecture p {
  max-width: 45%;
  font-size: 16px;
  color: #666;
  text-align: left;
}

/* Roles Section (Attacker, Defender, Sandbox) */
.roles {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.roles h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 40px;
}

.role-cards {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.role-item {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.role-item img {
  height: 80px;
  margin-bottom: 20px;
}

.role
